/* styles.css */
.container {
  display: grid;
  width: 100%; 
  height: 10000px;
  grid-template-columns: repeat(4, 1fr); /* 将容器分为两列 */
  gap: 10px; /* 可以根据需要调整间距 */
}

.card-container {
  perspective: 1000px; /* 为了3D翻转效果 */
  height: 25rem;
  position: relative; 
}

.card-face {
    position: absolute;
    width: 100%; 
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden; 
    transition: transform 0.6s; 
    top: 0;
    left: 0;
  }

  .front {
    z-index: 2; 
    transform: rotateY(0deg); /* 正面朝前 */
  }
  
  .back {
    z-index: 1; 
    transform: rotateY(180deg); /* 背面初始旋转180度 */
  }
  
  .flipped .front {
    transform: rotateY(-180deg); /* 翻转时正面旋转 */
  }
  
  .flipped .back {
    transform: rotateY(0deg); /* 翻转时背面回到正面朝前 */
  }



